<html>
    <head>
        <style>
            body{
                font-family: sans-serif;
            }

            .container{
                display:block;
                margin-left:auto;
                margin-right:auto;
                max-width:300px;
                margin-top:200px;
            }

            input[type="text"], input[type="email"], input[type="password"]{
                width:300px;
                height:50px;
                padding:5px;
                margin-bottom:7px;
                font-size:1em;
            }

            input[type="submit"]{
                width:70px;
                height:50px;
                background-color: #e91e63;
                color:white;
                border:none;
                margin-bottom:5px;
            }
            input[type="submit"]:disabled{
                background-color:grey;
                color:
            }
        </style>
    </head>
    <body>
        <div class="container">
            <form method="POST" action="/register">
                <h1>Register</h1><br>
                <input type="text" name="name" id="name" placeholder="Name" />
                <input type="email" name="email" id="email" placeholder="Email" />
                <input type="password" name="password" id="password" placeholder="Password" />
                <br>
                
                <% if(captcha){ %>
                    <%- captcha %><br/>
                <% } %>

                <span id="message">Recaptcha not verified</span><br>

                <input type="submit" id="sbmt" disabled value="Register"/>
            </form>
        </div>

    </body>
     <script>

            function register(){
                let name = document.getElementById('name').value;
                let password = document.getElementById('password').value;
                let email = document.getElementById('email').value;

                if(!name || !password || !email) return alert("All fields are required");

                fetch('/register', {method:"POST", headers:{'Content-Type': 'application/json'}, body: JSON.stringify({name:name, password:password, email:email})})
                .then(res=>res.json())
                .then(resp=>console.log(resp))
                .catch(err=>console.log(err));
            }

            function cb(){
                document.getElementById('sbmt').disabled = false;
                document.getElementById('message').innerHTML = "Recaptcha verified";
            }

            let params = (new URL(document.location)).searchParams;
            let message = params.get("e");
            document.getElementById('message').innerHTML = message;

            <% if(captcha){ %>
                document.getElementById('sbmt').disabled = true;
            <% }else{ %>
                document.getElementById('sbmt').disabled = false;
            <% } %>

    </script>
</html> 